.bf-fields {
    background-color: #7a8b9f;
}

.bf-fields:after {
    content: " ";
    display: block;
    clear: both
}

.bf-fields .board {
    width: 50%
}

.bf-fields .board.lf {
    float: left
}

.bf-fields .board.rg {
    float: right
}

.bf-fields table.field {
    border-collapse: collapse;
    margin: 25px;
}

.bf-fields table.field td, .bf-fields table.field td .box {
    border: 2px solid #E5EAFF;
}

.bf-fields table.field td .box, .bf-fields table.field td .ll, .bf-fields table.field td .mm {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.bf-fields table.field td .ll, .bf-fields table.field td .mm {
    position: absolute;
    z-index: 1;
    font-family: Georgia;
    color: #afafaf;
    font-weight: 700;
    font-size: 12px
}

.bf-fields table.field td .ll {
    left: -28px
}

.bf-fields table.field td .mm {
    top: -28px
}

.bf-fields table.field td {
    position: relative;
}

.bf-fields table.field td .box {
    float: left;
    margin: -2px
}

.bf-fields table.field td .box.null, .bf-fields table.field td .box.auto-null, .bf-fields table.field td .box.kill, .bf-fields .list-let .box.kill {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAcCAYAAAA0u3w+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDRjMwN0VCOEM4NDcxMUU1OTM5M0RBNkE1MDVDQUVEMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDRjMwN0VCOUM4NDcxMUU1OTM5M0RBNkE1MDVDQUVEMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNGMUMzMzI1Qzg0NzExRTU5MzkzREE2QTUwNUNBRUQxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNGMUMzMzI2Qzg0NzExRTU5MzkzREE2QTUwNUNBRUQxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+aamjFgAAAmdJREFUeNrs2E1IFGEcx/FdldlVWosiyg7WKQo6LNFFykgoL4GKEER16OUQ5kW6RZ3yUKcugVJLJEKIHSSiRKUoO0UvaChSInSIXpBa1y13Y3fW6fvIXxi2nX1zwJ1lHviwLzPzzPyet9lZr2EYnnIuFZ4yL25AN2Cxxeu10oKNWbZn5qAe/Ixh1ObYr8apQ3QKAQkZsNhnK1qdPAcHcVBCbkjrMfU6hJdODjgAdYM+JCG3oBeVsu0bvudTUVUhZz3cdHT17THsxhtMI/7qxTO7wql6w3iNBjRiTi1LuI0WNOVbWVWBJ1cteAPNSOEi7qMPCwXWFcRxLEqYD0hiGRPYbtp3k7x2YCbf4VlMwHbVkSdPtCd9Pl8wkUhMj449Px+ORL7y/cMC65qUBeW0zLk6CabC3sU1i+N6TQvNDmmUGbvmoFrVlgm3XzWOpmlBf031XzlJMUWNgn7sQRfqcRnXoVkccwV/cE8a5aOdi8y4ajld12dXri6VmossRDbLpF9LSUqv7ZUezFZUr92UuTgiQ9q2gEu482R41PPu/cT4o8dPPbF4PMR3v2xYXNScDMk8z1W6ZXXdafcc/IEHi9HoLHS1euKLrHJrLZNy4YN5/BA4g21yr/wpDZ+5qOfBdSE3OpMLWDLUJeXW/9/xFucphYC1GEgLEEU4Q7C3pvddTgh4AJ8whZD04j5UoE+CxHAVOjR04jeSOFLKAf1oRCDDcFV6JOA5+dxh2rYLI5hHfbaA3nX7TybLM5yUW/DjklUNOItTK08WhhEr9UUmXasMyVz71aGt9HrQ/U/GDegGdAOWQ/knwAALfSfZ0tNOqgAAAABJRU5ErkJggg==) 0 0 no-repeat;
}

.bf-fields table.field td .box.let {
    background-color: #E5EAFF
}

.bf-fields table.field td .box.null {
    opacity: 1 !important;
}

.bf-fields table.field td .box.auto-null {
    opacity: .5;
}

.bf-fields table.field td .box.kill {
    background-position: -28px 0;
    background-color: #a1b9d6;
}

.bf-fields table.field td .box.death {
    background-color: #deabab
}

.bf-fields .shot {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 28px;
    margin: -2px;
    background-color: rgba(255, 249, 0, 0.7);
    border: 2px solid #fff900;
}

.bf-fields .list-let {
    margin: 25px 15px 0;
    float: left;
}

.bf-fields .list-let .let {
    margin-bottom: 10px
}

.bf-fields .list-let .let:after {
    content: " ";
    display: block;
    clear: both
}

.bf-fields .list-let span {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 0 10px;
    text-align: center;
    color: #afafaf;
    font-weight: 700;
    display: inline-block;
    background: 0 0;
    border: none;
}

.bf-fields .list-let span .shot {
    width: 24px;
    height: 24px;
    margin: -27px 0 0 0;
}

.bf-fields .list-let .box {
    float: left;
    width: 24px;
    height: 24px;
    margin-left: -2px;
    background-color: rgba(165, 188, 208, .5) !important;
    border: 2px solid #E5EAFF;
}

.bf-fields .list-let .box.kill {
    background-position: -28px 0;
}

.bf-fields .board.rg table.field td .box {
    cursor: crosshair
}

.bf-fields .board table.field.timeout {
    opacity: 0.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bf-fields .board table.field.timeout .box {
    cursor: wait !important;
}

.bf-fields .board.lf table.field,
.bf-fields .board.lf .list-let,
.bf-fields .board.lf .list-let .box,
.bf-fields .board.rg .list-let span {
    float: right
}

.bf-fields .board.rg table.field,
.bf-fields .board.rg .list-let,
.bf-fields .board.rg .list-let .box,
.bf-fields .board.lf .list-let span {
    float: left
}